<li id="post-<%=post.id%>" class="list">
  <div class="content">
    <div class="post-content"><%= post.content%></div>

    <div class="like">
      <small>By~ <%= post.user.name %></small>
      <%if(locals.user){%>
      <small>
        <a
          href="/likes/toggle?id=<%=post._id%>&type=Post"
          class="likes"
          data-likes="<%= post.likes.length %>"
        >
          <%= post.likes.length %> Like
        </a>
      </small>
      <%}else{%> <%= post.likes.length %> Like <%}%> <% if(locals.user &&
      locals.user.id == post.user.id) { %>

      <small><a href="/posts/destroy/<%=post.id%>">X</a></small>
      <% } %>
    </div>
  </div>
  <div class="comments">
    <% if(locals.user){%>
    <form
      action="comments/create"
      method="POST"
      id="post-<%=post._id%>-comment-form"
    >
      <input
        class="text"
        type="text"
        name="content"
        placeholder="Type comment here..."
        required
      />
      <input type="hidden" name="post" value="<%=post._id%>" />
      <input type="submit" value="Add Comment" class="comment-submit" />
    </form>
    <%}%>
    <div id="post-comments-list">
      <% if(post.comments.length >0){%>
      <h4>Comments...</h4>
      <%}%>
      <ul id="post-comments-<%=post._id%>">
        <% for(comment of post.comments) {%> <%- include('_comment.ejs') -%>
        <%}%>
      </ul>
    </div>
  </div>
</li>
