<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <%- style %>
  </head>
  <body>
    <!--  partials having fix part of code -->
    <%- include('_header'); -%>
    <!--  layout where the body needs to be put in -->
    <%- body %> <%- include('_footer'); -%> <%- script %>
  </body>
</html>
