<html>
  <head>
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="<%=assetPath('layout.css')%>"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%=assetPath('header.css')%>"
      type="text/css"
    />
    <link rel="stylesheet" href="<%=assetPath('footer.css')%>" />
    /> type="text/css" /> <%- style %>
  </head>
  <body>
    <!--  partials having fix part of code -->
    <%- include('_header'); -%> <%- body %>
    <!--  layout where the body needs to be put in 
     <%- include('_footer'); -%>-->
    <%- script %>
    <script>
       <% if (locals.flash && locals.flash.success &&
          locals.flash.success.length > 0) { %>
            new Noty({
          theme:'relax',
          text: "<%=flash.success%>",
          type:"success",
          layout:"topRight",
          timeout:"1500",
      }).show();

          <% } %>
          <% if (locals.flash && locals.flash.error &&
          locals.flash.error.length > 0) { %>
            new Noty({
          theme:'relax',
          text: "<%=flash.error%>",
          type:"error",
          layout:"topRight",
          timeout:"1500",
      }).show();

          <% } %>
    </script>
  </body>
</html>
